:root {
  --navigation-bar: 4px 9px 9.399999618530273px 0px rgba(0, 0, 0, 0.32);
}

.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .overlap-wrapper {
  background-color: #ffffff;
  height: 1024px;
  width: 1440px;
}

.screen .overlap {
  background-size: 100% 100%;
  height: 1024px;
  position: relative;
}

.screen .signin-format {
  height: 635px;
  left: 137px;
  position: absolute;
  top: 194px;
  width: 448px;
}

.screen .format-top {
  height: 209px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 370px;
}

.screen .clownfish {
  height: 50px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 50px;
}

.screen .text-wrapper-5 {
  color: #2845a3;
  font-family: "Bowlby One-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 51px;
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 255px;
}

.screen .text-wrapper-6 {
  color: #000000;
  font-family: "Kanit-SemiBold", Helvetica;
  font-size: 80px;
  font-weight: 600;
  height: 82px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 72px;
  white-space: nowrap;
  width: 254px;
}

.screen .dont-have-an-account {
  color: #999999;
  left: 0 !important;
  position: absolute !important;
  top: 172px !important;
}

.screen .forgot-password-instance {
  left: 224px !important;
  position: absolute !important;
  top: 483px !important;
}

.screen .ID {
  height: 111px;
  left: 0;
  position: absolute;
  top: 243px;
  width: 452px;
}

.screen .overlap-group {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #56679e;
  border-radius: 17px;
  height: 74px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 448px;
}

.screen .text-wrapper-7 {
  color: #b6b6b6;
  font-family: "Kanit-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 36px;
  left: 22px;
  letter-spacing: 1px;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 288px;
}

.screen .text-wrapper-8 {
  color: #2845a3;
  font-family: "Kanit-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 37px;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 129px;
}

.screen .PASSWORD {
  height: 111px;
  left: 0;
  position: absolute;
  top: 372px;
  width: 452px;
}

.screen .text-wrapper-9 {
  color: #b6b6b6;
  font-family: "Kanit-Regular", Helvetica;
  font-size: 23px;
  font-weight: 400;
  height: 36px;
  left: 22px;
  letter-spacing: 2.53px;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 176px;
}

.screen .text-wrapper-10 {
  color: #2845a3;
  font-family: "Kanit-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 37px;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 140px;
}

.screen .SIGNIN-instance {
  left: 0 !important;
  position: absolute !important;
  top: 561px !important;
}

.screen .rectangle {
  height: 1024px;
  left: 720px;
  position: absolute;
  top: 0;
  width: 720px;
}

.screen .group {
  height: 37px;
  left: 30px;
  position: absolute;
  top: 33px;
  width: 173px;
}

.screen .back-to-home-instance {
  width: unset !important;
}