@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.SIGNIN {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -100px;
    left: 0%;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-family: Kanit;
}

.AlreadyHaveAnAccount {
    color: #999999;
    white-space: pre-wrap;
}

.signin {
    color: #0099DA;
    cursor: pointer;
    /* 클릭 가능하게 변경 */
}

.signin:hover {
    color: #3AC4FF;
}