@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

.Button {
    top: 100px;
}

.signin-button {
    background-color: #2845a3;
    border-radius: 17px;
    height: 74px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-button:hover {
    background-color: #1f3a82;
}

.text-wrapper {
    color: white;
    font-size: 24px;
    font-weight: bold;
}