@import url('https://fonts.googleapis.com/css2?family=Baloo:wght@400&display=swap');

.SignInBackToHome {
    width: 100%;
    position: relative;
    height: 37px;
    text-align: center;
    font-size: 23px;
    color: #2845a3;
    font-family: Kanit;
}

.SignInBackToHome-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -200%;
    left: -50%; /* backToHome의 왼쪽 위치 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo', Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.SignInBackToHome:hover .SignInBackToHome-text {
    color: #4C6CD3;
}