@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

.signup-button {
    background-color: #0099DA;
    border-radius: 17px;
    height: 40px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #3AC4FF;
}

.text-wrapper {
    color: white;
    font-size: 20px;
    font-weight: bold;
}