.navigation .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 70px;
  /* 네비게이션 바의 상단 여백 */
}

.finding-nemo {
  display: flex;
  align-items: center;
}

.finding-nemo .finding-nemo-text {
  margin-left: 10px;
}

.finding-nemo .clownfish {
  margin-top: -30px;
  height: 60px;
  object-fit: cover;
}

.navigation .menu {
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  /* 메뉴 항목 간의 간격 */
}

.navigation .image {
  display: flex;
  margin-left: 750px;
}

.navigation .Magnifier {
  margin-top: -10px;
  height: 130px;

}

.navigation .Cart {
  margin-top: -15px;
  height: 160px;
}

.navigation .Profile {
  margin-top: -15px;
  height: 160px;
}

.info-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #141414;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}