.navigation .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 70px;
  /* 네비게이션 바의 상단 여백 */
}

.finding-nemo {
  display: flex;
  align-items: center;
}

.finding-nemo .finding-nemo-text {
  margin-left: 10px;
}

.finding-nemo .clownfish {
  margin-top: -30px;
  height: 60px;
  object-fit: cover;
}

.navigation .menu {
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  /* 메뉴 항목 간의 간격 */
}

.Magnifier {
  margin-top: -20px;
  height: 130px;
  margin-left: 850px;
}

.navigation .SIGN-IN {
  margin-left: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.SIGN-IN .rectangle {
  margin-top: -20px;
  background-color: #ffffff;
  border-radius: 50px;
  height: 60px;
  width: 200px;
  position: absolute;
  /* 사각형을 텍스트와 함께 위치 */
}

.SIGN-IN .SIGN-IN-instance {
  color: #2845A3;
  margin-left: 5px;
  z-index: 1;
}

.info-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #141414;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}