.navigation {
  background-image: url(img/main_nemo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
}

.navigation .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 70px; /* 네비게이션 바의 상단 여백 */
  
}

.finding-nemo {
  display: flex;
  align-items: center;
}

.finding-nemo .finding-nemo-text {
  margin-left: 10px;
}

.finding-nemo .clownfish {
  margin-top: -30px;
  height: 60px;
  object-fit: cover;
}

.navigation .menu {
  margin-left: -800px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px; /* 메뉴 항목 간의 간격 */
  
}

.navigation .SIGN-IN {
  position: relative;
  display: flex;
  align-items: center;
}

.SIGN-IN .rectangle {
  margin-top: -20px;
  background-color: #ffffff;
  border-radius: 50px;
  height: 60px;
  width: 200px;
  position: absolute;  /* 사각형을 텍스트와 함께 위치 */

}

.SIGN-IN .SIGN-IN-instance {
  color: #2845A3;
  margin-left: 10px;
  z-index: 1;
}

.navigation .img {
  height: 30px;
  margin-left: 20px;
}

.info-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #141414;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-bar .info-links,
.info-bar .legal-links {
  margin: 10px 0;
}

.info-bar .info-links a,
.info-bar .legal-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.info-bar .copyright {
  margin-top: 10px;
}