/* 기본 여백 제거 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.background {
    background-image: url(img/main_nemo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    position: relative;
}