.CART {
    height: 80px;
    width: 80px;
    background-image: url('img/white_cart.png');
    background-size: cover;
    cursor: pointer;
    /* 클릭 가능한 커서 모양 */
}

.CART:hover {
    background-image: url('img/orange_cart.png');
}