@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.finding-nemo {
    height: 64px;
    /* position: relative; */
    /* width: 130px; */

}

.finding-nemo .text-wrapper {
    color: #ffffff;
    font-family: 'Luckiest Guy', Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 400;
    margin-left: -160px !important;
    /* line-height: 10px; */
    padding-left: 12px;
    /* position: absolute; */
    text-align: center;
    text-shadow: 4px 9px 9.4px #00000052;
}

.finding-nemo:hover .text-wrapper {
    color: #ff9500;
}