@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400&display=swap');

.MAKE {
    height: 56px;
    position: relative;
    width: 178px;
}

.MAKE .text-wrapper {
    text-shadow: var(--navigation-bar);
    color: #ffffff;
    font-family: 'Baloo 2', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 56px;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 10px 10px 9.4px #00000052;
    width: 178px;
}

.MAKE:hover .text-wrapper {
    color: #ff9500;
}
