p{
  margin: 10px;
}
.bill {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  justify-content: space-between; /* Space between the elements */
}

.bill-image-list {
  flex: 3; /* Allow the image list to take available space */
  margin: 20px;
}

.bill-image-container {
  display: flex;
  flex-wrap: wrap;
}

.bill-image-item {
  margin: 10px;
}

.selected-image {
  max-width: 100px; /* Adjust based on your needs */
  height: auto;
}
.total{
  flex: 1; /* Allow result to take up space proportionally */
  margin: 20px;
  margin-left: 20px; /* Ensure it has some margin from the image list */
  padding-top: 20px; /* Align better vertically */
  border-radius: 70px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#comment{
  font-size: 35px;
  text-align: center;

}
#result {
  font-size:60px; /* Increase font size */
  font-weight: bold; /* Make text bold */
  text-align: center;
}
#purchase{
  border: none;
  font-size: 40px;
  padding: 3%;
  background-color: cornflowerblue;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom:5%;
  border-radius: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
#purchase:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
  background-color: orange;

}
