p {
  margin: 10px;
  font-family: 'Baloo 2', Helvetica, sans-serif;

}

.bill {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  justify-content: space-between; /* Space between the elements */
}

.bill-image-list {
  margin: 20px;
  width: 70%;
}

.bill-image-container {
  display: flex;
  flex-wrap: wrap;
}

.bill-image-item {
  margin: 10px;
  width: 120px; /* Fixed width for each image container */
  height: 180px; /* Fixed height for each image container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd; /* Optional: add border for better visual separation */
  border-radius: 10px; /* Optional: add border radius for rounded corners */
  padding: 10px; /* Optional: add padding inside the container */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add shadow for depth */
}

.selected-image {
  max-width: 100px; /* Adjust based on your needs */
  max-height: 100px; /* Adjust based on your needs */
  height: auto;
}
.bill-info{
  width: 30%;
  margin: 20px;

}
.bill-total {
  padding: 50px; /* Align better vertically */
  border-radius: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
}

#comment {
  font-size: 20px;
  text-align: center;
}

#result {
  font-size: 40px; /* Increase font size */
  font-weight: bold; /* Make text bold */
  text-align: center;
}

#Purchase {
  border: none;
  align-items:end ;
  width: 100%;
  height: 100px;
  font-size: 30px;
  padding: 5%;
  background-color: cornflowerblue;
  margin-bottom: 5%;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-family: 'Baloo 2', Helvetica, sans-serif;

}

#Purchase:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background-color: orange;
}
#Purchase::before {
  content: "Go to Cart"; /* 초기 버튼 텍스트 */
}

#Purchase:hover::before {
  content: "Go to Cart"; /* 호버 시 표시될 텍스트 */
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
