.Make{
  background-image:url("../../public/img2/cart-background.png");
  background-size: cover;
  background-repeat: repeat-y;
}
.Making{
  margin-bottom: 5%;
  margin-left: 13%;
  margin-right: 13%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.15);
}
.Edit {
  display: flex;
  flex-direction: column;
  height: 80vh;
}
#make_comment{

  color:#f0f0f0;
  text-align: right;
}
.head {
  flex: 0 1 150px; /* 헤더 높이 */
  background-color: none;
}

.body {
  
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  flex: 1;
  overflow: hidden; /* body 전체가 스크롤되지 않도록 숨김 */
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 50px;
  
}

.canvas {
  flex-direction: row;
  border: 2px solid none;
  border-radius: 20px;
  flex: 2;
  height: 100%;
  margin-right: 30px;
  background-color: white;

}

.palette {
  flex-direction: row;
  flex: 1;

}

.footer {

  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 50px;

}
