.palette {
  display: flex;

}

.category-button {
  margin-top: 15px;
  width: 25%; 
}

.palette-button {
  display: block;
  width: 100%;
  height: 18%;
  padding: 10px;
  margin-bottom: 10%;
  font-size: 20px;
  font-family: "NATS-Regular", Helvetica;
  background-color: #d0d0d0;
  border: 1px solid #d0d0d0;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;

  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.palette-button:hover{
  background-color:white;
  border: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.palette-button.selected{
  background-color: white;
}

.palette-button.selected {
  background-color: white;
  border: white;
}

.image-list {
  width: 75%;
  border-radius: 20px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;


  display: flex;
  flex-wrap: wrap;
  overflow: auto;
overflow-x: hidden;  
background-color: rgba(255, 255, 255, 1);


}

.image-item {
  margin-bottom: 10px;
  cursor: pointer;
  max-width: 95%;
  object-fit: contain;
}

.image-item:hover {
opacity: 70%;}






/* 수직 스크롤 바에만 적용 */
::-webkit-scrollbar {
  width: 20px; /* 스크롤 바 너비 */
  
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 스크롤 바 트랙 색상 */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤 바 색상 */
  border-radius: 10px; /* 스크롤 바 모서리 반경 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 마우스 호버 시 스크롤 바 색상 */
}
