.image22Icon {
    position: absolute;
    top: 344px;
    left: 486px;
    width: 468px;
    height: 469px;
    object-fit: cover;
}
.image19Icon {
    position: absolute;
    top: 282px;
    left: 919px;
    width: 433px;
    height: 460px;
    object-fit: cover;
}
.fishbowl30420012801Icon {
    position: absolute;
    top: 84px;
    left: 139px;
    width: 394px;
    height: 356px;
    object-fit: cover;
}
.image19Icon1 {
    position: absolute;
    top: 149px;
    left: 223px;
    width: 226px;
    height: 225px;
    object-fit: cover;
}
.image23Icon {
    position: absolute;
    top: 485px;
    left: 607px;
    width: 226px;
    height: 225px;
    object-fit: cover;
}
.image24Icon {
    position: absolute;
    top: 440px;
    left: 1057px;
    width: 226px;
    height: 225px;
    object-fit: cover;
}
.div {
    width: 1440px;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

