.shop-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.shop-detail {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.shop-detail-content {
    display: flex;
}

.shop-detail-image img {
    max-width: 150px;
    border-radius: 8px;
}

.shop-detail-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop-detail-info h2 {
    margin: 0;
}

.amount-selector {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.amount-selector button {
    background: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}

.amount-selector span {
    margin: 0 10px;
}

.add-to-cart-button {
    background: #2845A3;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}